npm-debug.log
node_modules/
!/node_modules/
!src/node_modules/
/node_modules/*
/content/
panel/
.DS_Store
docs
lib/

site/cache/*
!site/cache/.gitkeep

site/config/config.*.xip.io.php

kirby
panel
site/panel

thumbs/*
!thumbs/.gitkeep