[submodule "site/fields/selector"]
	path = site/fields/selector
	url = https://github.com/storypioneers/kirby-selector.git
[submodule "site/fields/imagepicker"]
	path = site/fields/imagepicker
	url = https://github.com/iandoe/kirbycms-panel-imagepicker-field.git
