/* NEUZEIT */

@font-face {
	font-family: 'n-book';
	src:url('fonts/NeuzeitSLTStd-Book.otf');
	src:url('fonts/NeuzeitSLTStd-Book.woff') format('woff');
}

@font-face {
	font-family: 'n-bold';
	src:url('fonts/NeuzeitSLTStd-BookHeavy.otf');
	src:url('fonts/NeuzeitSLTStd-BookHeavy.woff') format('woff');
}

