

.logo {
	a {
		@include transition(opacity $animation-speed);
		@include opacity(0);
	}
}

.home {
	
		
	.logo {
		a {
			@include transition(opacity $animation-speed);
			@include opacity(1);
		}
	}
		
		
	@include break('ipad'){
		.logo {
			a {
				color:#000 !important;
				//display:block !important;
				@include opacity(1);
			}
		}
		
		
		.studio-site-description {
			@include opacity(0);
		}
	}
	
	.main-menu {
		
		a {
			color:#000; 
			@include opacity(1);
		}
		
		nav:hover {
			
			a {
				@include opacity(.4);
			}
			
			
			
			li:hover a {
				@include opacity(1);
			}
			
		}
		
	}
	
	.site-description {
		width:100vw;
		color:#000;
		
		
		
		p, span, a {
			color:#000;
		}
		
		span {
			width:100%;
			max-width:550px;
			
			br.mobile { display:none; }
			
			
			@include break('small'){
				
				
				br {
				    content: ' '
				}

				br:after {
				    content: ' '
				}
				
				
				br.mobile {
					display:inline-block;
				}
			}
			
			@include break('ipad'){
				width:90vw;
			}
			
			
		}
	}

	.preview-bg {
		@include opacity(0);
		
		@include break('ipad'){
			display:none;
		}
		
		.preview-image {
			@include opacity(1);
		}
		
		.preview-video {
			position:fixed;
			left:0;
			top:0;
			width:100%;
			height:100%;
		}
	}
	
}